@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">
            <strong>E-Store Admin</strong>
        </a>
        
        <div class="navbar-nav ms-auto">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="adminUserDropdown" role="button" data-bs-toggle="dropdown">
                    <i class="fas fa-user-shield"></i> @User.Identity.Name
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-area="">View Store</a></li>
                    <li><a class="dropdown-item" asp-area="User" asp-controller="Profile" asp-action="Index">My Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form asp-controller="Account" asp-action="Logout" asp-area="" method="post" class="d-inline">
                            <button type="submit" class="dropdown-item">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
